.encabezado {
  font-family: sans-serif;
  text-align: left;
  font-size: 30px;
  background: rgb(224, 18, 18);
  background: linear-gradient(
    107deg,
    rgba(224, 18, 18, 1) 0%,
    rgb(255, 252, 73) 50%,
    rgba(69, 136, 252, 1) 100%
  );
  border: initial;
  line-height: 3cm;
}
.imagenestexto {
  width: 40%;
  height: auto;
  float: right;
}
#botonrepo {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #3ecf19 5%, #77a809 100%);
  background-color: #3ecf19;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.parrafos {
  font-size: 15px;
  font-family: sans-serif;
  text-align: justify;
}
